@font-face {
  font-family: 'Avenir-Black';
  src: url('Avenir-Black.eot');
  src: url('Avenir-Black.woff2') format('woff2'),
       url('Avenir-Black.woff') format('woff'),
       url('Avenir-Black.ttf') format('truetype'),
       url('Avenir-Black.svg#Avenir-Black') format('svg'),
       url('Avenir-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Light';
  src: url('Avenir-Light.eot');
  src: url('Avenir-Light.woff2') format('woff2'),
       url('Avenir-Light.woff') format('woff'),
       url('Avenir-Light.ttf') format('truetype'),
       url('Avenir-Light.svg#Avenir-Light') format('svg'),
       url('Avenir-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('Avenir-Medium.eot');
  src: url('Avenir-Medium.woff2') format('woff2'),
       url('Avenir-Medium.woff') format('woff'),
       url('Avenir-Medium.ttf') format('truetype'),
       url('Avenir-Medium.svg#Avenir-Medium') format('svg'),
       url('Avenir-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

