#intro {
  /*background     : #4F3065;*/
  background-image : url('../motionbackgrounds/LandingPagev5.gif');
  background-size  : cover;
  color            : white;
  height           : 100%;
  width            : 100%;
  display          : flex;
  align-items      : center;
  justify-content  : center;
  flex-direction   : column;
}

.display-item {
  font-size      : 30px;
  line-height    : 50px;
  width          : 80%;
  margin         : auto;
  display        : flex;
  align-items    : center;
  flex-direction : column;
  font-family    : 'Avenir-Medium', sans-serif;
}

.display-item.vert {
  flex-direction : column;
}

.display-item > p {
  margin : 0;
  filter : drop-shadow(1px 1px 3px black);
}

.display-item > img.avatar-intro-image {
  width         : 100%;
  margin-bottom : 20px;
}

.display-item > .swipe-choice-container {
  margin-top : 20px;
}

.display-item > .swipe-choice-container > img.swipe-choice {
  width  : 48%;
  margin : 1%;
}

.fadeIn-enter {
  opacity    : 0.01;
  transition : all .5s ease-in;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity : 1;
}

.fadeIn-leave {
  opacity    : 1;
  transition : all 1s ease-in;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity   : 0.01;
  transform : translateY(-200%);
}

.fadeIn-appear {
  opacity    : 0.01;
  transition : all .5s ease-in;
}

.fadeIn-appear.fadeIn-appear-active {
  opacity : 1;
}