.messaging-container {
  width              : 90%;
  height             : 90%;
  overflow-y         : scroll;
  overflow-scrolling : touch;
}

.messaging-container.she {
  width      : 100%;
  background : rgb(254, 245, 246);
  padding: 0 5%;
}

.messaging-container.he {
  width      : 100%;
  background : rgb(243, 249, 251);
  padding: 0 5%;
}

.message {
  display         : inline-flex;
  justify-content : flex-start;
  align-items     : center;
  float           : left;
  min-height      : 20px;
  max-width       : 80%;
  margin          : 2px 0;
  padding         : 5px 10px;
  background      : #E9E4EC;
  color           : #734E86;
  border          : #734E86 2px solid;
  border-radius   : 0 20px 20px 0;
  text-align      : left;
  clear           : both;
}

.message.user {
  background    : #4F3065;
  color         : white;
  border-radius : 20px 0 20px 20px;
  float         : right;
}

.message:first-child {
  margin-top                : 10px;
  border-bottom-left-radius : 20px;
}

.message:only-child {
  border-bottom-left-radius : 20px;
}

.message:last-child {
  border-bottom-left-radius : 20px;
}

.message > p {
  margin    : 0;
  font-size : 15px;
}

.prompt-line {
  position        : absolute;
  bottom          : 0;
  height          : 50px;
  width           : 90%;
  display         : flex;
  align-items     : center;
  justify-content : flex-end;
}

.prompt {
  background    : #4F3065;
  color         : white;
  height        : 40px;
  display       : flex;
  align-items   : center;
  padding       : 0 20px;
  border-radius : 20px 0 20px 20px;
}

.prompt > p {
  margin : 0;
}