.messaging-container {
  width  : 90%;
  height : 90%;
}

.message {
  display         : inline-flex;
  justify-content : flex-start;
  align-items     : center;
  float           : left;
  min-height      : 20px;
  max-width       : 70%;
  margin          : 2px 0;
  padding         : 10px;
  background      : #E9E4EC;
  color           : #734E86;
  border          : #734E86 2px solid;
  border-radius   : 0 20px 20px 0;
  text-align      : left;
}

.message:first-child {
  margin-top : 10px;
}

.message:only-child {
  border-bottom-left-radius : 20px;
}

.message:last-child {
  border-bottom-left-radius : 20px;
}

.message > p {
  margin    : 0;
  font-size : 16px;
}