#splash {
  /*background     : #4F3065;*/
  background-image : url('../images/LandingPagev3.gif');
  background-size  : cover;
  color            : white;
  height           : 100%;
  width            : 100%;
  display          : flex;
  align-items      : center;
  flex-direction   : column;
}

#splash > .splash-logo-wrapper {
  position : relative;
  top      : 20%;
}

.splash-logo-wrapper > h3 {
  width       : 270px;
  margin      : 30px auto;
  font-size   : 18px;
  font-weight : normal;
  text-align  : center;
}

.he-wrap {
  position        : relative;
  width           : 220px;
  text-align      : center;
  margin          : 20px auto 0;
  height          : 70px;
  background      : #3CA3BB;
  display         : flex;
  align-items     : center;
  justify-content : center;
  border-radius   : 30px 30px 0 0;
}

.he-wrap:after {
  position      : absolute;
  width         : 0;
  height        : 0;
  content       : "";
  bottom        : 0;
  left          : -15px;
  border-bottom : 12px solid #3CA3BB;
  border-left   : 18px solid transparent;
}

.she-wrap {
  position        : relative;
  width           : 220px;
  text-align      : center;
  margin          : 10px auto 0;
  height          : 70px;
  background      : #F16375;
  display         : flex;
  align-items     : center;
  justify-content : center;
  border-radius   : 30px 0 30px 30px;
}

.she-wrap:after {
  position     : absolute;
  width        : 0;
  height       : 0;
  content      : "";
  top          : 0;
  right        : -15px;
  border-top   : 12px solid #F16375;
  border-right : 18px solid transparent;
}

.start-btn {
  position : absolute;
  bottom   : 20px;
  margin   : auto;
  width    : 100%;
}

.start-btn > .up-icon {
  font-size : 45px;
}

.start-btn > .start-text {
  text-transform : uppercase;
  font-size      : 18px;
  font-style     : normal;
  letter-spacing : 4px;
  margin         : 0;
}