body {
  font-family      : 'Avenir-Light', sans-serif;
  font-size        : 16pt;
  background-color : #EFECF2;
  color            : black;
}

#content {
  position : absolute;
  top      : 0;
  width    : 100%;
  height   : 100vh;
}

.center-text {
  text-align : center;
}