body {
  font-family      : 'Open Sans', sans-serif;
  background-color : #EFECF2;
  color            : black;
}

#content {
  position : absolute;
  top      : 50px;
  width    : 100%;
  height : calc(100vh - 50px);
}

.center-text {
  text-align : center;
}